Source: spooldo
Section: utils
Priority: optional
Maintainer: Robert Edmonds <edmonds@fsi.io>
Build-Depends:
 dpkg-dev (>= 1.16.0~),
 debhelper (>= 8~)
Standards-Version: 3.9.3

Package: spooldo
Architecture: all
Conflicts: isc-spooldo
Replaces: isc-spooldo
Depends: ${misc:Depends},
 python
Description: spooldo utility
 spooldo utility
